<h1> Se connecter </h1>

{% if error %}
    <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
    Vous etes connecté, {{ user.username }}
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Se connecter"/>
    </form>
{% endif %}