<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier Recette</title>
</head>
<body>
    <h1> Modifier Recette</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Valider"/>
    </form>
</body>
</html>