<html>
    <title>Nouvelle Recette</title>
</head>
<body>
    <h1> Nouvelle recette: Etape 1</h1>
    <h3> Base </h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Suivant"/>
    </form>
</body>
</html>
