{% extends 'base.html' %}

{% block title %}Noter{% endblock %}

{% block content %}
    <h1>Noter la recette</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Noter"/>
    </form>
{% endblock %}