{% extends 'base.html' %}

{% block title %}Commenter{% endblock %}

{% block content %}
    <h1>Commenter la recette</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Commenter"/>
    </form>
{% endblock %}