<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-primary"> Se déconnecter, {{ user.username }}</a>
            <a href="{% url 'new_recette_et1' %}" class="btn btn-success">Ajouter votre recette</a>
            <a href="{% url 'new_note' %}" class="btn btn-success">Noter une recette</a>
            <a href="{% url 'new_commentaire' %}" class="btn btn-success">Commenter une recette</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary"> Se connecter </a>
            <a href="{% url 'signup' %}" class="btn btn-success"> Créer un compte </a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>
