{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <br>
    <h1>Toutes les recettes : </h1>
    {% for recette in recettes %}
        <div class="recette">
            <h1> {{ recette.titre }}</h1>
            <h3> {{ recette.id_type }}</h3>
            <p> Difficulté : {{ recette.difficulte }}</p>
            <p> Temps Préparation : {{ recette.temps_prep }}
                Temps de cuisson : {{ recette.temps_cuisson }}
                Temps de repos : {{ recette.temps_repos }}</p>

        </div>
    {% endfor %}
{% endblock %}
